@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
#menu-1 .mbr-brand__name {
  font-size: 16px;
}
#menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}
#footer1-3 P {
  text-align: center;
  color: #cccccc;
}
#msg-box2-y .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-y .mbr-article {
  color: #252525;
}
#msg-box2-z .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-z .mbr-article {
  color: #252525;
}
#msg-box2-10 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-10 .mbr-article {
  color: #252525;
}




#menu-4 .mbr-brand__name {
  font-size: 16px;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-4 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-c H3 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
#header3-c P {
  text-align: center;
}
#footer1-5 P {
  text-align: center;
  color: #cccccc;
}
#msg-box2-16 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-16 .mbr-article {
  color: #252525;
}
#header3-f H3 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
#header3-f P {
  text-align: center;
}
#msg-box2-17 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-17 .mbr-article {
  color: #252525;
}
#header3-i H3 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
#header3-i P {
  text-align: center;
}
#msg-box2-18 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-18 .mbr-article {
  color: #252525;
}
#header3-m H3 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
#header3-m P {
  text-align: center;
}
#menu-p .mbr-brand__name {
  font-size: 16px;
}
#menu-p.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-p .mbr-navbar__hamburger {
  color: #ffffff;
}
#footer1-q P {
  text-align: center;
  color: #cccccc;
}
#msg-box2-1e .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-1e .mbr-article {
  color: #252525;
}
#content5-1d .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1d .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1d .mbr-article {
  color: #fff;
}
#msg-box2-1f .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-1f .mbr-article {
  color: #252525;
}
#menu-1g .mbr-brand__name {
  font-size: 16px;
}
#menu-1g.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-1g .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box3-1q .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1q .mbr-header .mbr-header__subtext {
  text-align: center;
}
#footer1-1h P {
  text-align: center;
  color: #cccccc;
}
#menu-1l .mbr-brand__name {
  font-size: 16px;
}
#menu-1l.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-1l .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box1-1o .mbr-header .mbr-header__text {
  color: #fff;
  text-align: center;
}
#msg-box1-1o .mbr-article {
  color: #fff;
  text-align: center;
}
#msg-box1-1p .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-1p .mbr-article {
  color: #fff;
}
#footer1-1m P {
  text-align: center;
  color: #cccccc;
}
